.chatBot-container {
    width: 400px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.15s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 99999999;
}

#click:checked~.chatBot-container {
    opacity: 1;
    bottom: 85px;
    pointer-events: auto;
}

.chatBot-messages-container {
    top: 0;
    left: 0;
    height: 100%;
    right: 50px;
    bottom: 50px;
    background: rgba(79, 79, 79, .2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 2px 10px #00000065;
    height: 500px;
    max-height: 500px;
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    border-top: none;

}

#chat-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
}

/* width */
.chatBot-messages-container::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.chatBot-messages-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.chatBot-messages-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
.chatBot-messages-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.chatBot-header {
    background-color: rgb(0, 191, 255);
    color: white;
    padding: 20px;
}

.message {
    font-size: 15px;
    padding: 12px 14px;
    margin-bottom: 10px;
    line-height: 1.5;
    opacity: 0;
}


.message.bot {
    background-color: white;
    color: rgb(0, 191, 255);
    border-radius: 10px;

}

.message.btn {
    border: 1px solid rgb(0, 191, 255);
    color: rgb(0, 191, 255);
    border-radius: 10px;
    background: #555;
    cursor: pointer;

}

.message.user {
    background-color: rgb(0, 191, 255);
    color: white;
    border-radius: 10px;
    align-self: flex-end;
    transform: translateY(0px) translateZ(0px);
    transition: all .2s ease;
    opacity: 1;

}


label {
    position: fixed;
    right: 30px;
    bottom: 20px;
    height: 55px;
    width: 55px;
    background: rgb(0, 191, 255);
    text-align: center;
    line-height: 55px;
    border-radius: 50px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

label i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
}

label i.fas {
    opacity: 0;
    pointer-events: none;
}

#click:checked~label i.fas {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) rotate(180deg);
}

#click:checked~label i.fab {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) rotate(180deg);
}

#click {
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@media only screen and (max-width: 450px) {
    .chatBot-container {
        width: 300px;
        max-width: 300px;
        position: fixed;
        right: 20px;
        bottom: 10px;
    }
}

@media only screen and (max-width: 375px) {
    .chatBot-container {
        width: 300px;
        max-width: 300px;
        position: fixed;
        right: 20px;
        top: 10px;
    }
}