p {
    margin: 0;
    padding: 0;
}

.skills {

    position: absolute;
    display: flex;
    flex-direction: row;

    align-items: center;
}

.skills p {
    color: #2d2e32;
    font-size: 12px;
}

.skills .skillsTitle {
    border-right: 2px solid rgba(45, 46, 50, .5);
    margin-right: 7rem;
    padding-right: 2rem;
    color: #2d2e32;
    font-weight: bold;
    font-size: 16px;
    text-wrap: nowrap;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.logo div {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}


@media only screen and (max-width:1050px) {
    .skills {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 635px) {
    .skills .skillsTitle {
        display: none;
    }

    .skills {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 333px) {
    .skills .skillsTitle {
        display: none;
    }

    .logo div {
        margin: 5px;
    }

    .logo div p {
        display: none;
    }
}

@media only screen and (max-width: 740px) {
    .skill-logo {
        width: 20px;
    }

    .skills {
        /* width: 300px; */
        justify-content: start;
    }
}

/* @media only screen and (max-width: 570px) {

    .skills .skillsTitle {
        display: none;
    }


} */